[Desktop Entry]
Type=Application
Name=Install LUNOR OS
Comment=Install LUNOR OS 1.2 to disk
Exec=pkexec calamares
Icon=lunor
Terminal=false
Categories=System;
