[Desktop Entry]
Type=Application
Version=1.0
Name=Install LUNOR OS
GenericName=LUNOR OS Installer
Comment=Install LUNOR OS 1.1 to disk
Exec=/usr/bin/calamares-install-debian
Icon=lunor
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=true
